* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background: #edeff2;
}

.mainContainer {
  max-width: 1200px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: #ffffff;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
}

.aside {
  padding-top: 40px;
  background: #1e2939;
  color: #ffffff;
  width: 320px;
}

.aside__photo {
  width: 100%;
  margin-bottom: 40px;
  border-top: 1px solid #ff6b08;
  border-bottom: 1px solid #ff6b08;
}

.contactsContainer,
.techSkillsContainer,
.softSkillsContainer {
  padding-left: 38px;
  margin-bottom: 30px;
}

.contactsContainer__title,
.techSkillsContainer__title,
.softSkillsContainer__title {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 24px;
}

.contactsContainer__wrapper {
  font-weight: bold;
}

.contactsContainer__link {
  padding-left: 10px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.5;
  -webkit-text-decoration-color: #ff6b08;
  text-decoration-color: #ff6b08;
}

.techSkillsContainer__list,
.softSkillsContainer__list {
  color: #ff6b08;
}

.techSkillsContainer__item,
.softSkillsContainer__item {
  color: #ffffff;
}

.infoContainer {
  color: #595959;
  padding-top: 110px;
  padding-bottom: 110px;
  padding: 110px 20px 80px 80px;
}

.infoContainer__wrapper {
  max-width: 420px;
  margin-bottom: 70px;
}

.infoContainer__profTitle {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
}

.infoContainer__title {
  color: #000000;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 30px;
  font-weight: 700;
}

.expTitle {
  color: #3b4452;
}

.projectsContainer,
.educationContainer,
.testContainer {
  margin: 75px 0 50px;
  max-width: 550px;
}

.projectsContainer__title,
.workExperienceContainer__title,
.educationContainer__title,
.testContainer__title {
  font-weight: bold;
  font-size: 22px;
  color: #000000;
  margin-bottom: 20px;
  border-bottom: 1px solid#ff6b08;
  width: fit-content;
}

.projectsContainer__itemWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.projectsContainer__item {
  text-decoration: none;
  color: #595959;
  margin-right: 10px;
}

.projectsContainer__dotted {
  color: #e6e6e6;
}

.projectsContainer__stat {
  color: #a8a8a8;
  white-space: nowrap;
  font-size: 12px;
}

.projectsContainer__bracket {
  font-weight: bold;
  color: #000000;
  margin: 0 7px;
}

.workExperienceContainer {
  max-width: 550px;
  margin-bottom: 50px;
}

.company__title {
  font-weight: bold;
  font-size: 16px;
  color: #ff6b08;
  margin-bottom: 5px;
  text-decoration: none;
}

.company__prof,
.course__type {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.company__period {
  color: #a8a8a8;
  font-size: 12px;
  margin-bottom: 10px;
}

.company__description {
  margin-bottom: 26px;
}

.course {
  margin-bottom: 26px;
}

.course__resultWrapper {
  width: fit-content;
  margin-top: 15px;
  border-top: 1px solid#FF6B08;
  border-bottom: 1px solid#FF6B08;
}

.course__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000000;
}

.course__result:hover {
  text-decoration: none;
}

.course__imgIcon {
  display: block;
  max-width: 150px;
  cursor: pointer;
  margin-top: 10px;
  border-top: 1px solid#FF6B08;
  border-bottom: 1px solid#FF6B08;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.4);
}

.course__imgIcon-inline {
  display: inline;
  max-width: 120px;
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    margin: 20px;
  }
  .projectsContainer__stat {
    font-size: 10px;
  }
}

@media screen and (max-width: 790px) {
  .mainContainer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .aside {
    min-width: auto;
    width: 100%;
    overflow: hidden;
  }
  .aside__photo {
    width: 325px;
    display: block;
    margin: 0 auto 40px;
  }
  .contactsContainer,
  .techSkillsContainer,
  .softSkillsContainer {
    padding-left: 0;
    text-align: center;
  }
  .techSkillsContainer__wrapper,
  .softSkillsContainer__wrapper {
    max-width: 180px;
    margin: 0 auto;
    border-right: 1px solid#FF6B08;
  }
  .infoContainer {
    width: 100%;
    padding: 40px;
  }
  .projectsContainer li {
    margin-left: 25px;
  }
}

@media screen and (max-width: 576px) {
  .mainContainer {
    margin: 0;
  }
  .infoContainer {
    padding: 10px;
  }
  .projectsContainer__item {
    font-size: 12px;
  }
  .projectsContainer__dotted {
    display: none;
  }
  .projectsContainer__stat {
    font-size: 10px;
  }
  .projectsContainer__bracket {
    margin: 0;
  }
  .company__description li {
    margin-left: 20px;
  }
}
